@use "sass:map";

.footer {
  background-color: map.get($theme-colors, secondary);

  &__logo {
    &--image{
      height: 32px;
      width: auto;
    }
  }

  @media (min-width: map.get($grid-breakpoints, md)) {
    &__logo {
      &--image{
        height: 64px;
      }
    }
  }
}