@use "sass:map";

.home {
  text-align: center;

  .front-page {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    grid-template-columns: 1fr 1fr 1fr auto;
    height: 100dvh;

    &__image {
      grid-row: 1/3;
      grid-column: 1 / -1;
      max-width: 100%;   
      object-fit: contain; 
    }

    &__title {
      grid-row: 1;
      grid-column: 1/4;
    }
    &__subtitle {
      grid-row: 3;
      grid-column: 1/4;
    }
    &__dates {
      writing-mode: vertical-lr;
      grid-row: 2;
      grid-column: 4;
    }
    &__action {
      grid-row: 4;
      grid-column: 2;
      margin-top: 2rem;
      &-button {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
      }
    }

    @media (min-width: map.get($grid-breakpoints, lg)) {

      &__image {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        max-width: 100%;   
        object-fit: contain; 
        align-self: flex-end; 
      }
      &__title {
        grid-row: unset;
        grid-column: 1/-1;
        background-color: map.get($theme-colors, secondary);
      }
      &__dates {
        writing-mode: initial;
        grid-row: unset;
        grid-column: 1/-1;
        padding-top: 20px;
        padding-bottom: 150px;
      }
      &__subtitle {
        color: $white !important;
      }
    }

    @media (min-width: map.get($grid-breakpoints, xl)) {
      &__image {
        width: 100%;
      }
    }
  }
}

/* Soporte para navegadores que no usan CSS Grid */
@supports not (display: grid) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
}

