@use "sass:map";

.registration {
  max-width: 800px;
  font-size: 4dvmin;

  &__title {
    color: color(hwb 240 20% 0%);
  }

  &__form {
    background-color: color(display-p3 0 0.5 0.9);
    margin-bottom: 5svmin;

    &-label {
      color: color(display-p3 1 1 1); 
      font-size: 3lvmin;
    }

    &-input,
    &-select {
      border: 1px solid color(hwb 210 30% 20%);
      padding: 1svmin;
    }

    &-button {
      width: 100%;
      padding: 2lvmin;
    }
  }
}
