@use "sass:map";

.participantes {
  background-color: $light;

  &__title {
    color: map.get($theme-colors, "primary");
    margin-bottom: 1.5rem;
  }

  &__reticula {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;

    @media (min-width: map.get($grid-breakpoints, md)) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
  