<footer class="bg-dark text-center text-white py-3 px-md-5">
  <div class="d-flex flex-row justify-content-center align-items-center">
    <a class="me-3" href="index.html">
        <img src="./assets/images/logo_aac.png" alt="Logo" class="footer-logo">
    </a>
    <div class="mx-auto footer-links d-none d-md-block ">
      <a href="index.html" class="text-white me-3">Inicio</a>
      <a href="participantes.html" class="text-white me-3">Participantes</a>
      <a href="blog.html" class="text-white me-3">Blog</a>
      <a href="inscripcion.html" class="text-white">Inscribirse</a>
    </div>
    <div class="social-icons">
      <a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a>
      <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
      <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</footer>
