<footer class="footer bg-dark text-center text-white py-3 px-md-5 d-flex flex-row justify-content-center justify-content-md-between align-items-center">
    <a class="footer__logo me-3" href="index.html">
        <img src="./assets/images/logo_aac.png" alt="Logo" class="footer__logo--image">
    </a>
    <div class="footer__links mx-auto d-none d-lg-block ">
      <a href="index.html" class="text-white me-3">Inicio</a>
      <a href="participantes.html" class="text-white me-3">Participantes</a>
      <a href="blog.html" class="text-white me-3">Blog</a>
      <a href="inscripcion.html" class="text-white">Inscribirse</a>
    </div>
    <div class="footer__social-icons">
      <a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a>
      <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
      <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
    </div>
</footer>
